# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store

# Editor settings
.vscode/

# Local outputs
model/
